.border-1 {
	border: 1px solid #ccc;
}
.border-3 {
	border: 3px solid #000;
	border-radius: 50px;
}


.id-logo{
	margin: 10px 10px;
	height: 90px;
    width: 90px;
}
.id-head {
    background-color: #14419E !important;
    border-bottom: 1px solid #535356;
    box-shadow: 0px 3px 6px 0px #636161;
	font-family: Verdana !important;
	padding-top: 5px;
	padding-bottom: 5px;
}

.id-head > p.head-title {
    font-size: 18px !important;
    font-weight: 550;
    margin: 0px !important;

}
.id-head > p.head-subtitle {
	margin: 0px !important;
	font-size: 15px !important;

}

.y-bar {
	color: #000;
	margin: 25px 5px -5px 5px;
	background-color: #EEE312 !important;
	box-shadow: -2px 1px 5px 0px #5f5d5d;
}
.y-bar .y-bar-title {
	padding: 8px 0;
}
 

.tm-10{margin-top: 10px}
.tm-25 {margin-top: 25px}
.tm-30 {margin-top: 30px}
.tm-40 {margin-top: 40px}
.tm-50 {margin-top: 50px}
.tm-65 {margin-top: 65px}
.bm {margin-bottom: 10px}
.bm-40 {margin-bottom: 40px;}

/*.form-control {
	border: none;
	border-bottom: 1px solid #464545;
	border-radius: 0px;
}*/

.p-all-10 {
	padding: 10px;
}

.col-id {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.panel-id { 
	height: 640px!important;
	/*margin-bottom: 0px !important;*/
}

/*.id-pic {
	width: 96px;
	height: 96px;
	margin: 10px 0 5px 0;
		
}*/
input.id-pic {
 /* visibility:hidden;
  width:0;
  height:0*/
  display: none;
}

.text-white{
	color: #fff;
}

img#esig {
	width: 22%;
}

.image-stack::after {
  content: ' ';
  display: table;
  clear: both;
}

.image-stack__item--top {
    /*float: left;
    width: 66%;
    margin-right: -100%;
    padding-top: 15%; 
    position: relative;*/
    z-index: 1;
}

form.id-form .row-idpb {
	margin-top: 25px;
	margin-left: 15px;
	margin-right: 15px;
}  

form.id-form .row-idpb .col-idp {
	cursor: pointer;
	padding-left: 0;
	padding-right: 0;
}

form.id-form .row-idpb .col-idp img  {
	/*width: 100%;*/
	width: 150px;
	height: 150px;
	border: 1px solid #ccc;
}

form.id-form .row-idi h3.position {
	margin-top:16px;
	color: #000; 
	font-weight: 600
}

div#container {
	transform: scale(0.65);
    transform-origin: top; /*(0,0)*/
}

h3.panel-title {
	font-weight: 600;
}

h4.director {
	margin-top: -27px; color: #000;
}
h4#director small {
	color: #000;
}
.p-lr-5 {
	padding-left: 5px;
	padding-right: 5px;
}


@media print {
	body {
		-webkit-print-color-adjust: exact !important; 
	}
	@page {
		/*margin: 0.5cm;*/
		size: landscape;
	}

	.id-head {
		color: #fff !important;
	}

	.text-white{
		color: #fff !important;
	}
	.y-bar-title,.id-head {
		box-shadow: -2px 1px 5px 0px #5f5d5d !important;
	}

	.tm-25 .border img.profile {
		/*width: 150px;*/

	}

}

